<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RDoc Document Viewer</title>
    <link href="http://developer.github.com/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://developer.github.com/css/960.css" rel="stylesheet" type="text/css" />
    <link href="http://developer.github.com/css/uv_active4d.css" rel="stylesheet" type="text/css" />
    <link href="http://developer.github.com/shared/css/documentation.css" rel="stylesheet" type="text/css">
    <link href="http://developer.github.com/shared/css/pygments.css" rel="stylesheet" type="text/css">
    <style>
      .logo {
        padding-top: 10px;
        font-size: 48px;
      }
      .closed {
        color: #e91000;
      }
      .error {
        color: #e91000;
      }
      .opened {
        color: #0065e9;
      }
      div.content {
        width: 100%;
      }
      table {
        border-collapse: collapse;
        border-spacing: 2px;
        border-color: gray;
      }   
      tr {
          border: 1px solid #ccc;
        background-color: #fff;
      }   
      th, td {
        border: 1px solid #ddd;
        padding: 6px 13px;
      }   
      th {
        font-weight: bold;
      }   
      tr:nth-child(2n) {
        background-color: #f8f8f8;
      }   
    </style>
    <style media="style">
      #status {
        display: none;
      }
    </style>
  </head>
  <body class="api">

    <div id="header-wrapper">
      <div id="header">
        <a class="logo"><%=File.basename(settings.target_file)%></a>
      </div>
    </div>

    <div id="wrapper">
      <div class="content">
	    <%=html%>
      </div>
    </div>

  </body>
</html>

